@{
	ViewData["Title"] = "FromHellsHeart";
}

<html>
<head>
 <style type="text/css">
  body, html {
   height: 100%;
   width: 100%;
   margin: 0;
   background-image: url("/img/Warhead Backgrounds/From Hells Heart.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin-bottom: 60px;
   color: #777;
   position: relative;
   min-height: 100%;
   font-size: 14px;
   overflow: hidden;
  }

  .link-style {
   padding: 0;
   background: rgb(255,255,255,0.5);
   outline: none;
   position: absolute;
   right: 830px;
   top: 70px;
   height: auto;
   font-size: 70px;
   color: black;
  }

   .link-style:hover {
	background: rgb(255,255,255,0.6);
   }

  .level-next {
   padding: 0;
   background: rgb(255,255,255,0.5);
   outline: none;
   position: absolute;
   right: 16px;
   top: 70px;
   height: auto;
   font-size: 70px;
   color: black;
  }

   .level-next:hover {
	background: rgb(255,255,255,0.6);
   }

  .level-last {
   padding: 0;
   background: rgb(255,255,255,0.5);
   outline: none;
   position: absolute;
   left: 16px;
   top: 70px;
   height: auto;
   font-size: 70px;
   color: black;
  }

   .level-last:hover {
	background: rgb(255,255,255,0.6);
   }

  .paragraph-styling {
   position: relative;
   right: 10px;
   top: 200px;
   font-size: 33px;
   color: white;
   background: black;
   opacity: 0.6;
  }

  .iframe-video {
   margin: auto;
   position: relative;
   text-align: center;
   top: 250px;
   right: 19px;
  }
 </style>
</head>
<body>
 <form>
  <div>
   <button class="link-style" type="submit" asp-action="Index">Level List</button>
  </div>
  <div>
   <button class="level-next" type="submit" asp-action="AllTheFury">Next Level&rarr;</button>>
  </div>
  <div>
   <button class="level-last" type="submit" asp-action="BelowTheThunder">&larr;Last Level</button>
  </div>
 </form>
 <p class="paragraph-styling">
  The sixth level in Crysis Warhead. It is about Psycho's work to secure the container while it is being transported by a train, he confronts many enemies while contacting JSOC to find a way to block the train.
 </p>
 <div class="iframe-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/72LZwzpxSLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
</body>
</html>



