@{
	ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
 <style type="text/css">
  body, html {
   height: 100%;
   width: 100%;
   margin: 0;
   background-image: url("/img/Home Page Images/Home Page Wallpaper.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin-bottom: 60px;
   color: #777;
   position: relative;
   min-height: 100%;
   font-size: 14px;
   overflow: hidden;
  }
 </style>
</head>
<body>
</body>
</html>
